@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #f8fafc;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  position: relative;
}
.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.menu-icon {
  color: white;
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links.active {
    flex-direction: column;
    position: absolute;
    top: 8vh;
    height: 500px;
    width: 100%;
    background: #343a40;
    align-items: center;
  }
  .hide {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

h1 {
  font-family: "Roboto Slab", Times, serif;
  max-width: 900px;
  padding-bottom: 2rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: #063249;
  align-content: center;
  font-weight: 100;
}

h2 {
  color: rgba(17, 14, 14, 0.7);
  display: block;
  max-width: 900px;
  font-size: 1.3rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.navbar-brand {
  margin-left: 2rem;
  font-size: 1rem;
}

.navbar-brand-text {
  margin-left: 4rem;
  font-size: 1rem;
}
.navbar-brand-text:hover {
  transition: 0.2s;
  text-decoration: overline #69e684;
  background-size: 100% 5px, auto;
}

.not-container {
  text-align: center;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.navbar {
  background-color: white;
  box-shadow: 1.8px 1.8px 1.8px 1.8px rgba(212, 214, 212, 0.5);
}

.app-frame {
  background-color: rgb(240, 242, 243);
  background-repeat: no-repeat;
  background-size: 120vh 100vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}



.list-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 370px;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 2px #cecbcb;
}

.list-item {
  margin-left: auto;

  margin-right: auto;
  justify-content: center;
  max-width: 1300px;
  margin-bottom: 6rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  gap: 10px;
}

.title {
  color: #616566;
  margin-bottom: 4pt;
  margin-top: 2.6rem;
  font-size: 1rem;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.description {
  font-weight: 400;
  font-size: 18pt;
  max-width: 280px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 1rem;
}

.content-text {
  max-width: 250px;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  flex-direction: column;
  margin-left: 88px;
  margin-right: auto;
  display: flex;
  margin-bottom: 5rem;
}

.icon-image {
  float: left;
}

.icon-image img {
  margin-left: 18px;
  margin-right: 18px;
  display: block;
  margin-top: 3rem;
}

.footer {
  background-color: rgb(14, 16, 26);
  height: 40vh;
  position: relative;
}
